<html>
       <head>
           <meta charset="utf-8" />
           <meta name="viewport" content="width=device-width, initial-scale=1.0" />

           <title>Fout - ZNA Elektronisch Medisch Voorschrift</title>

           <base href="/" />

           <link rel="stylesheet" href="/dist/vendor.css?v=_X2bFl2YL0Po9qmBsI-bK2rwXoyQIf1X7p-xOoy2Npo" />


               <link rel="stylesheet" href="/css/style.css?v=XHbFXIdzLxE3_0CLGwFTvBnKwA2tlI_xNEUer-pcceM" />
               <link rel="stylesheet" href="/css/angular-customizations.css?v=bQXojhldmKEjisBbRn3Y-w22ctilP1LVVpJqihIgDaY" />
               <link rel="stylesheet" href="/css/bootstrap-customizations.css?v=OHJin8he32323kNMmXHn439MPYLNCUXs_beEXRXD2cs" />
               <link rel="stylesheet" href="/css/ng-pick-datetime-customizations.css?v=WT5ZqchpTYC7qskMXR9bVyhZf5g3WgkBZXvKj9fwZ_g" />
               <link rel="stylesheet" href="/css/font-awesome.css?v=YIHlqxkiJtENTMuzIHC9EfZaB5RniGr7kF7juUQJUuc" />




               <script type="text/javascript">
         var appInsights=window.appInsights||function(config){
             function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
         }({
             instrumentationKey: '4faff00c-18fd-4a8c-a20b-0aa17302abcd'
         });

         window.appInsights=appInsights;
         appInsights.trackPageView();

     </script>


               <script src="/js/jquery-1.12.4.min.js?v=J9khMMAyHa1aA3YP1ayYo9BO1MlNiEGP5tUNoff8XL4"></script>
               <script src="/js/bootstrap-3.3.7-dist.min.js?v=NkYOSU5MYoRDr97UCydDte3ppKdvtPe57yNFzH5Z_WQ"></script>
       </head>
       <body>
           <nav>
               <div class="container-fluid">
                   <div>
                       <div class="navbar-left">
                           <div class="navbar-text">

           <h1><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> Er is een onverwachte fout opgetreden</h1>

                           </div>
                       </div>
                       <div class="navbar-right">
                           <div class="btn-group logo">
                               <button type="button" class="btn btn-default dropdown-toggle navbar-brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <span class="glyphicon glyphicon-edit " aria-hidden="true"> EMV <span class="caret">
                               </button>
                               <ul class="dropdown-menu">

                                       <li>
                                           <a href="/Contact/All?selectedPatientId=1001868940">
                                               <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> Alle pati&euml;nt contacten
                                           </a>
                                       </li>
                                       <li role="separator" class="divider"></li>

                                       <li>
                                           <a href="/Management?option=Notifications"><span class="glyphicon glyphicon-bell" aria-hidden="true"> Meldingen beheren </a>
                                       </li>
                                       <li>
                                           <a href="/Department/Index"><span class="glyphicon glyphicon-file" aria-hidden="true"> Toedieningsblad configureren</a>
                                       </li>
                                       <li>
                                           <a href="/Auth/EditRoles"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> Toegang beheren</a>
                                       </li>
                                       <li>
                                           <a href="/EditReferenceData/Index"><span class="glyphicon glyphicon-book" aria-hidden="true"> Referentie data beheren</a>
                                       </li>
                                       <li>
                                           <a href="/FeatureFlag/Index"><span class="glyphicon glyphicon-off" aria-hidden="true"> Functionaliteit beheren</a>
                                       </li>
                                       <li>
                                           <a href="/backgroundjobs"><span class="glyphicon glyphicon-refresh" aria-hidden="true"> Background jobs</a>
                                       </li>
                                       <li role="separator" class="divider"></li>
                                   <li>
                                       <a href="/Auth/LoggedInUser"><span class="glyphicon glyphicon-user" aria-hidden="true"> Mijn profiel</a>
                                   </li>
                                   <li role="separator" class="divider"></li>
                                       <li>
                                           <a href="https://iprova.zna.local/iPortal5/List/ContentOpenURL.ashx?RecommendedHyperlinkID=00000000-0000-0000-0000-000000000000&ContentOpenURL=https%3a%2f%2fiprova.zna.local%2fiDocument%2fViewers%2fiPortal5Viewer.aspx%3fNavigationHistoryID%3d3735760%26SourceItemID%3db2e5a30e-a943-4393-bd1a-f5924ea59741%26ContentTypeID%3d1%26PortalID%3d119%26Query%3demv" target="_blank">
                                               <span class="glyphicon glyphicon-question-sign" aria-hidden="true"> Handleiding
                                           </a>
                                       </li>
                                       <li>
                                           <a href="https://wiki.zna.local:8443/display/OF/EMV" target="_blank">
                                               <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Wiki
                                           </a>
                                       </li>
                                   <li>
                                       <a href="/Stats/Index"><span class="glyphicon glyphicon-stats" aria-hidden="true"> Cijfers</a>
                                   </li>
                                       <li>
                                           <a href="/SystemStatus/Index"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"> Systeem status</a>
                                       </li>
                                   <li class="environment" title="Applicatie versie @ omgeving">
                                       <a href="javascript:;">
                                           <span class="glyphicon glyphicon-tag" aria-hidden="true">
                                           Versie 2019.3.29.3 @ Development
                                       </a>
                                   </li>
                                   <li role="separator" class="divider"></li>
                                   <li class="small text-center">
                                       ZNA Elektronisch Medisch Voorschrift
                                   </li>
                               </ul>
                           </div>
                       </div>





           <div class="environmentindicator">
               <div style="background-color:green">DEV OMGEVING</div>
           </div>





                   </div>
               </div>
           </nav>

           <div class="container-fluid">


       <p>
           Bij problemen kan je contact opnemen met de ICT ServiceDesk via email of telefoon.
       <br />
       <a href="mailto:ict.servicedesk@zna.be">ict.servicedesk@zna.be</a> - telefoon: 7 74 74
       </p>

           </div>


       </body>
       </html>
